.bl-footer {
  visibility: hidden;
  position: absolute;
  position: fixed;
  /* top: calc(100% - 3.5em); */
  height: 3.5em;
  bottom: 0;
  right: 0;
  left: 0;

  z-index:100;
  opacity: 0.7;
  background: linear-gradient(#222, #444);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bl-footer.visible {
  visibility: visible;
}

.bl-footer input {
  color:#000;
}
@media only screen and (max-width: 400px) {
  .bl-footer input {
    min-width: 100px;
    width: 136px;
  }
}

.bl-icon {
  height: 100%;
  position: relative;
  font-size: 2.5em;
  cursor: pointer;
  transition:0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.bl-icon:active {
  transform:scale(1.1);
}

.bl-icon svg {
  display: inline-block;
  margin-bottom: 0.67em;
  fill:#fff;
}

.bl-icon-title {
  position: absolute;
  top: 72%;
  left: -20%;
  width: 140%;
  font-size: x-small;
  color: white;
  text-align:center;
}

.mat-icon-box {
  font-size: 48px;
  height: 100%;
  display: flex;
}
.mat-icon-box mat-icon {
  margin-top: -.27em;
}

.bl-icon-count {
  position: absolute;
  top: -3%;
  left: 37%;
  z-index: 1;
  opacity: 0.7;
}
.bl-icon-count-inner {
  display: inline-block;
  position: relative;
  height: 2em;
  width: 2em;
  border: 1px red solid;
  border-radius: 1em;
  background: red;
  color: white;
  font-size: small;
}
.bl-icon-count-inner div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon-box,
.bl-icon-count {
  transition: opacity .6s;
}

:not(.bl-icon-selected) > mat-icon-box,
:not(.bl-icon-selected) .bl-icon-count {
  opacity: 0.5;
}

.bl-icon-selected > mat-icon-box,
.bl-icon-selected .bl-icon-count {
  opacity: 1;
}

/* borders for debug */
.debug .bl-icon {
  border: 1px solid red;
}
.debug .bl-icon-title {
  border: 1px solid blue;
}
.debug .mat-icon-box {
  border: 1px solid yellow;
}
.debug .svg-box {
  border: 1px solid yellow;
}
