.note-header,
:host(.item::before) {
  font-size: 80%;
  color: #000;
}

hr {
  margin: 0;
}

.mat-icon-box {
  font-size: 20px;
  display: inline-block;
  position: relative;
}

.mat-icon-box mat-icon {
  position: absolute;
  top: -.8em;
}