<span class="note-header">
  {{note.name}}, {{note.updatedAt | date : 'dd/MM/yyyy'}} {{note.updatedAt | date : 'shortTime' | lowercase}}
</span>

<span style="position:relative" dropdown>
  <span dropdownToggle style="cursor:pointer" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  <ul *dropdownMenu class="dropdown-menu">
    <li role="menuitem">
      <a class="dropdown-item" (click)="remove(note)">remove</a>
    </li>
  </ul>
</span>

<br/>

<a (click)="addOrEdit($event, -1, note)">
  <markdown [data]="note.text"></markdown>
  <span class="item-image" *ngIf="note.thumbURL">
    <markdown>![alt]({{note.thumbURL}} "thumb title")</markdown>
  </span>
  <span class="image-span" *ngIf="!note.thumbURL && note.imageURL">
    <img [src]="note.imageURL" alt="" class="image" *ngIf="note.imageURL.indexOf('images') > -1">
    <video playsinline preload="metadata" controls *ngIf="note.imageURL.indexOf('videos') > -1">
      <source [src]="note.imageURL" type="video/mp4">
    </video>
  </span>
</a>

<hr>