<!-- 
    <button class="btn btn-lg btn-primary" (click)="remove($event)" [hidden]="noteService.todo === todoEnum.Add">Remove</button>
-->
<form [formGroup]="noteForm" novalidate>
  <div class="buttons" ontouchstart>
    <button class="btn btn-lg btn-default" (click)="cancel($event)" type="button">Cancel</button>
    <button class="btn btn-lg btn-primary" (click)="save($event)" type="button">Save</button>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Name" formControlName="name" required blFocusMe>
      <div class="text-danger" [hidden]="!submitted || noteForm.controls.name.valid || !noteForm.controls.name.errors.required">Entry is mandatory</div>
    </md-input-container>
  </div>

  <div>
    <md-input-container class="textarea">
      <textarea mdInput placeholder="Note" formControlName="text" rows="8" required>
      </textarea>
      <div class="text-danger" [hidden]="!submitted || noteForm.controls.text.valid || !noteForm.controls.text.errors.required">Entry is mandatory</div>
    </md-input-container>
  </div>

  <div class="" ontouchstart>
    <input class="btn" type="file" accept="image/*;capture=camera" (change)="fileSelected()" #fileInput>
    <button class="" type="button" (click)="removeFile($event)" [hidden]="toHideButton"><i class="material-icons">delete</i></button>
  </div>

  <img id="myimg" [hidden]="toHideImg">

</form>