.list {
  /* padding-bottom: 4em; */
  counter-reset: count;
  background-color: #eee;
}

@media (min-width: 576px) {
  .list {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .list {
    margin-left: 95px;
    margin-right: 80px;
  }
}
@media (min-width: 992px) {
  .list {
    margin-left: 145px;
    margin-right: 130px;
  }
}

.item-link {
  line-height: 3;
}

.item {
  cursor: pointer;
}

.item::before {
  counter-increment: count;
  content: counter(count)".";
}

.item hr {
  margin: 0.2em 0;
}

.item a {
  text-decoration: none;
  position: relative;
}

.item:focus, .item:hover {
  background: rgba(255, 238, 238, 0.735);
}
/* .item a:active {
  top: 1px;
  background: #ddd;
}
 */
