:host {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.parent { /* https://stackoverflow.com/a/49278385/588521 */
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-image: url("https://images.unsplash.com/photo-1482510356941-d087154c2931?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd6c067c548407960ec92f1e820775ee&auto=format&fit=crop&w=1355&q=80");
  background-size: contain; 
  background: rgba(221,221,221,0.5);
  background: rgba(229, 229, 229, 0.4);*/
  background: white;
  /*padding-left: 15px;*/
  /*padding-right: 7px;*/
}
.child {
  height: 100%;
  height: calc(100% + 15px); /* 15px push down to hide horizontal scrollbar */
  margin-bottom: -50px; /* maximum width of scrollbar */
  padding-bottom: 50px; /* maximum width of scrollbar */
  margin-right: -50px; /* maximum width of scrollbar */
  padding-right: 50px; /* maximum width of scrollbar, 50+15 */
  overflow: scroll;
  -webkit-overflow-scrolling: touch; /* get Momentum scrolling back on iPhone */
}

.fab {
  z-index:101;
  width: 2em;
  height: 2em;
  position: fixed;
  right: 0.2em;
  bottom: 1.5em;
  border-radius: 50%;
  background-color: rgb(244, 67, 54);
  color: white;
  font-size: 18pt;
  outline: none;
  border: 0;
  padding: 0; /* suspect bootstrap padding */
  box-shadow: 6px 6px 12px rgba(0,0,0,.475);
  opacity: 0;
  visibility: hidden;
  transition: visibility .6s, opacity .6s;
}

@media not all and (pointer: coarse) {
  .fab { /* for desktop, add transform transition property */
    transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), visibility .6s, opacity .6s;
  }
}

.fab:hover {
  transform:scale(1.1);
  background-color: #E53935;
}
.fab:active {
  background-color: #B71C1C;
}
.fab.show {
  opacity: 1;
  visibility: visible;
}

/*
div {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}


@media only screen
and (min-width: 568px) {
  div {
    width: 80%;
  }
}
 */
/* for desktop */
/*@media not all and (pointer: coarse) {
  div {
    width: 80%;
  }
}*/

div.debug {
  border: 1px solid red;
}