
<!-- <div [@routerTransition]="getState(o)" class="no-debug">
  <router-outlet #o="outlet"></router-outlet>
</div> -->

<div class="parent">
  <div class="child" id="child-xyz" [@routerTransition]="getState(o)" >
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>

<scrolltop [bottom]="'55px'" [background]="'yellow'" [elementId]="'child-xyz'"></scrolltop>
<button class="fab" (idleClick)="add($event)" [ngClass]="{'show': noteService.loggedin && inside}" aria-label="Add">+</button>
<bl-footer [visible]="noteService.loggedin"></bl-footer>
<!--
this.openSnackBar('Test me!', 'Dismiss', 600000);
(idleClick)="add($event)"
(click)="noteService.openSnackBar('Test me!', 'Dismiss', 600000)"
 -->
