<!-- 
  (afterIf)="loadImage()" 
    <button class="btn btn-lg btn-primary" (click)="remove($event)" [hidden]="noteService.todo === todoEnum.Add">Remove</button>
    [ngClass]="{'loader-3': busy && takeLong}"
-->
<div class="overlay" *ngIf="data.value === 'active'" (click)="hide()" (afterIf)="loadImage()" [@overlay]="data">
  
  <form id="popup" class="container" [formGroup]="noteForm" novalidate (click)="$event.stopPropagation()" blFocusMe>
    <h2>
      {{title}}
      <div class="pull-right" touchStart>
        <a class="btn btn-default" (idleClick)="cancel($event)">Cancel</a>
        <a class="btn btn-primary" (idleClick)="save($event)">Save</a>
      </div>
    </h2>

    <div>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required blFocusMe>
        <div class="text-danger" [hidden]="!submitted || noteForm.controls.name.valid || !noteForm.controls.name.errors.required">Entry is mandatory</div>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="textarea">
        <textarea matInput placeholder="Note" formControlName="text" rows="8" required>
        </textarea>
        <div class="text-danger" [hidden]="!submitted || noteForm.controls.text.valid || !noteForm.controls.text.errors.required">Entry is mandatory</div>
      </mat-form-field>
    </div>

    <div class="" touchStart>
      <input class="btn" type="file" accept="image/*, video/*" (change)="fileSelected()" #fileInput>
      <button class="" type="button" (click)="removeFile($event)" [hidden]="toHideButton">
        <i class="material-icons">delete</i>
      </button>
    </div>

    <img id="myimg" [hidden]="toHideImg">
    <video id="myvideo" [hidden]="toHideImg"></video>

  </form>

</div>