@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

[hidden] {
  display: none !important; /* https://github.com/angular/material2/issues/445 */
}

/*html,*//* causes parent to scroll to top on modal popup */
body {
  height: 100%;
}

.noScroll {
  overflow: hidden; /* causes parent to scroll to top on modal popup */
}
