<div class="my-header">
  <h2 [@expand]="title" [ngClass]="{'group-name':inside}">
    {{title}}
  </h2>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
      {{noteService.userName}} <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem"><a class="dropdown-item">Logged in as <strong>{{noteService.userName}}</strong></a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" style="cursor:pointer" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</div>

<div [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</div>
<!--
  <pre>todo:{{todoEnum[noteService.todo]}}, note: {{noteService.note | json}}</pre>
 {{noteService.countGroups}}/{{noteService.countNotes}}
     data-count="{{noteService.countNotes}}"
    [ngClass]="{'bl-icon-selected': inside}"
-->

<footer class="bl-footer navbar-fixed-bottom">
  <div class="bl-icon bl-icon-unselected bl-icon-count bl-icon-title" data-title="Home" 
    [attr.data-count]="noteService.countGroupsTotal" touchStart
    [ngClass]="{'bl-icon-selected': !inside}" (click)="exit()">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  </div>
  <div class="bl-icon bl-icon-unselected bl-icon-count bl-icon-title" data-title="Group" 
    [attr.data-count]="noteService.countNotes" touchStart
    [ngClass]="{'bl-icon-selected': inside}">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
  </div>
  <div class="bl-icon bl-icon-unselected bl-icon-title" data-title="GitHub" touchStart>
    <!-- <img class="" src="/assets/images/github-circle.png" /> -->
    <a href="https://github.com/bob-lee/ng-notes">
      <svg aria-hidden="true" height="32" version="1.1" viewBox="0 0 16 16" width="32">
        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
      </svg>
    </a>
  </div>
  <div>
    <form [formGroup]="myForm" (submit)="search()">
      <input type="text" maxlength="30" placeholder="Enter group name..." [attr.disabled]="inside ? '' : null" formControlName="groupName"
      />
    </form>
  </div>
</footer>