.my-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.my-header .btn-group {
  margin-top: 1.4em;
}
.my-header .btn {
  border-width: 0;
}
.my-header .title {
  position: relative;
}
.my-header .title::before {
  content: 'To create a new group, enter group name in footer bar';
  font-size: 0.4em;
  position: absolute;
  top: -1.0em;
  width: 40em;
}
.my-header .inside.title::before {
  content: 'Group:';
}

button.add {
  margin-bottom: 1em;
}
.input-group {
  margin-bottom: 0.3em;
}
.input-group span {
  cursor: pointer;
}

.input-group-addon:hover {
  background-color: #ddd;
}
.input-group-addon:focus {
  background-color: #ccc;
}
.input-group-addon:active {
  background-color: #bbb;
}

img.userPhoto {
  width: 23px;
  border-radius: 3px;
  margin-top: 0;
  margin-right: .5em;
}

.dropdown-item.click {
  cursor: pointer;
}

/* footer */
.bl-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  z-index:100;
  height: 3.5em;
  opacity: 0.7;
  background: linear-gradient(#222, #444);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bl-footer input {
  color:#000;
}

/* borders for debug */
.debug .bl-icon {
  border: 1px solid red;
}
.debug .bl-icon-title {
  border: 1px solid blue;
}
.debug .mat-icon-box {
  border: 1px solid yellow;
}
.debug .svg-box {
  border: 1px solid yellow;
}

.bl-icon {
  height: 100%;
  position: relative;
  font-size: 2.5em;
  cursor: pointer;
  transition:0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.bl-icon:active {
  transform:scale(1.1);
}

.bl-icon svg {
  display: inline-block;
  margin-bottom: 0.7em;
  fill:#fff;
}

.bl-icon-title {
  position: absolute;
  top: 70%; 
  left: -50%;
  width: 200%;
  font-size: x-small;
  color: white;
  text-align:center;
}

.mat-icon-box {
  font-size: 48px;
  height: 100%;
  display: flex;
}
.mat-icon-box mat-icon {
  margin-top: -.3em;
}

.bl-icon-count {
  position: absolute;
  top: -3%;
  left: 37%;
  z-index: 1;
  opacity: 0.7;
}
.bl-icon-count-inner {
  display: inline-block;
  position: relative;
  height: 2em;
  width: 2em;
  border: 1px red solid;
  border-radius: 1em;
  background: red;
  color: white;
  font-size: small;
}
.bl-icon-count-inner div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:not(.bl-icon-selected) > mat-icon-box,
:not(.bl-icon-selected) .bl-icon-count {
  opacity: 0.5;
}

.bl-icon-selected > mat-icon-box,
.bl-icon-selected .bl-icon-count {
  opacity: 1;
}
