<form [formGroup]="myForm" (submit)="searchOrExit()">
  <md-input-container>
    <input mdInput placeholder="Group name" formControlName="groupName">
  </md-input-container>
  <button class=""><i class="material-icons">{{inside ? 'expand_less' : 'search'}}</i></button>
</form>

<button  (click)="add()" [hidden]="!inside || noteService.todo > 0" class="btn btn-lg btn-primary add">Add note</button>
<button  (click)="logInOrOut()" class="btn btn-lg btn-primary add">Log {{noteService.loggedIn ? 'Out' : 'In'}}</button>

<router-outlet></router-outlet>

<pre>noteService.todo:{{todoEnum[noteService.todo]}}, noteService.note: {{noteService.note | json}}</pre>
