<div class="main">

  <div class="my-header">
    <bl-animate-value
      [prop]="title" [left]="!inside"
      [helpLeft]="helpList"
      [helpRight]="helpGroup">
    </bl-animate-value>

    <div class="user" (idleClick)="logoutSnackbar($event)">
      <div class="photo" [attr.data-initial]="noteService.userNameInitials" [ngClass]="{'no-photo': !toShow}">
        <img id="userPhoto" alt="photo of logged in user"
          [src]="photoUrl" *ngIf="toShow" (error)="imageError($event)">
      </div>
    </div>
  </div>

  <div class="" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>

</div>

<!-- <ng-template #logoutTemplate>
  <div class="logout-template">
    <span>
      Logged in as <strong>{{noteService.userName}}</strong>
    </span>
    <button mat-button (click)="logoutSnackbarTemplateAction()">Log out</button>
  </div>
</ng-template> -->

<!--

-->
