.debug-info {
  position: fixed;
  bottom: 4em;
  left: 1em;
  opacity: 0.6;
  background-color: aqua;
}

.main {
  width: 100%;
  /* margin-left: 8px; */
  /* padding: 0 15px; */
  /* background-color: #eee; */
}

/* @media only screen
and (min-width: 568px) {
  .main {
  }
} */
/* .main-inner {
  margin-left: 0px;
  margin-right: 0px;
} */
@media (min-width: 576px) {
  .my-header {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .my-header {
    margin-left: 95px;
    margin-right: 80px;
  }
}
@media (min-width: 992px) {
  .my-header {
    margin-left: 145px;
    margin-right: 130px;
  }
}

.debug.my-header {
  border: 1px solid red;
}
.debug.my-header .title::before {
  border: 1px solid blue;
}
.debug.my-header .title,
.debug.my-header .user {
  border: 1px solid gray;
}

.my-header {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 0.6em;
}


.debug.my-header .user {
  background-color: gray;
}
.debug.my-header,
.debug.my-header .user .photo {
  border: 1px solid blue;
}

.my-header .user {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 2.2rem;
  width: 2.2rem;
}
.my-header .user .photo {
  border-radius: 0.9rem;
  margin: .2rem;
  width: 1.8rem;
  height: 1.8rem;
  font-size: small;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
.my-header .user .photo img {
  width: 100%;
  border-radius: calc(100% / 2);
}
.my-header .user .photo.no-photo {
  background-color: #ff4081;
  position: relative;
}
.my-header .user .photo.no-photo::before {
  content: attr(data-initial);
  position: absolute;
  font-size: .9rem;
  /* top: 0px; */
}
/*
.logout-template {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  margin: -8px 0;
}
.logout-template button[mat-button] {
  color: #ff4081;
}
*/


