.debug-info {
  position: fixed;
  bottom: 4em;
  left: 1em;
  opacity: 0.6;
  background-color: aqua;
}

.main {
  width: 100%;
  /* margin-left: 8px; */
  /* padding: 0 15px; */
  /* background-color: #eee; */
}

/* @media only screen
and (min-width: 568px) {
  .main {
  }
} */
/* .main-inner {
  margin-left: 0px;
  margin-right: 0px;
} */
@media (min-width: 576px) {
  .my-header {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .my-header {
    margin-left: 95px;
    margin-right: 80px;
  }
}
@media (min-width: 992px) {
  .my-header {
    margin-left: 145px;
    margin-right: 130px;
  }
}

.debug.my-header {
  border: 1px solid red;
}
.debug.my-header .title::before {
  border: 1px solid blue;
}
.debug.my-header .title,
.debug.my-header .user {
  border: 1px solid gray;
}

.my-header {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* justify-content: stretch; */
  padding-top: 0.6em;
}

.my-header .title {
  position: relative;
}
.my-header .title::before {
  content: 'To create a new group, enter group name below';
  font-size: 0.7em;
  position: absolute;
  top: -.8em;
  width: 40em;
}
.my-header .inside.title::before {
  content: 'Group:';
}

.debug.my-header .user {
  background-color: gray;
}
.debug.my-header,
.debug.my-header .user .photo {
  border: 1px solid blue;
}

.my-header .user {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 2.2rem;
  width: 2.2rem;
}
.my-header .user .photo {
  border-radius: 0.9rem;
  margin: .2rem;
  width: 1.8rem;
  height: 1.8rem;
  font-size: small;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
.my-header .user .photo img {
  width: 100%;
  border-radius: calc(100% / 2);
}
.my-header .user .photo.no-photo {
  background-color: #ff4081;
  position: relative;
}
.my-header .user .photo.no-photo::before {
  content: attr(data-initial);
  position: absolute;
  font-size: .9rem;
  /* top: 0px; */
}
/*
.logout-template {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  margin: -8px 0;
}
.logout-template button[mat-button] {
  color: #ff4081;
}
*/

.fab {
  z-index:101;
  width: 2em;
  height: 2em;
  position: fixed;
  right: 0.2em;
  bottom: 1.5em;
  border-radius: 50%;
  background-color: rgb(244, 67, 54);
  color: white;
  font-size: 18pt;
  outline: none;
  border: 0;
  padding: 0; /* suspect bootstrap padding */
  box-shadow: 6px 6px 12px rgba(0,0,0,.475);
  opacity: 0;
  visibility: hidden;
  transition: visibility .6s, opacity .6s;
}

@media not all and (pointer: coarse) {
  .fab { /* for desktop, add transform transition property */
    transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), visibility .6s, opacity .6s;
  }
}

.fab:hover {
  transform:scale(1.1);
  background-color: #E53935;
}
.fab:active {
  background-color: #B71C1C;
}
.fab.show {
  opacity: 1;
  visibility: visible;
}

/* footer */
.bl-footer {
  /* position: fixed; */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3.5em;

  z-index:100;
  opacity: 0.7;
  background: linear-gradient(#222, #444);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bl-footer input {
  color:#000;
}
@media only screen and (max-width: 400px) {
  .bl-footer input {
    min-width: 100px;
    width: 136px;
  }
}

/* borders for debug */
.debug .bl-icon {
  border: 1px solid red;
}
.debug .bl-icon-title {
  border: 1px solid blue;
}
.debug .mat-icon-box {
  border: 1px solid yellow;
}
.debug .svg-box {
  border: 1px solid yellow;
}

.bl-icon {
  height: 100%;
  position: relative;
  font-size: 2.5em;
  cursor: pointer;
  transition:0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.bl-icon:active {
  transform:scale(1.1);
}

.bl-icon svg {
  display: inline-block;
  margin-bottom: 0.67em;
  fill:#fff;
}

.bl-icon-title {
  position: absolute;
  top: 72%;
  left: -20%;
  width: 140%;
  font-size: x-small;
  color: white;
  text-align:center;
}

.mat-icon-box {
  font-size: 48px;
  height: 100%;
  display: flex;
}
.mat-icon-box mat-icon {
  margin-top: -.27em;
}

.bl-icon-count {
  position: absolute;
  top: -3%;
  left: 37%;
  z-index: 1;
  opacity: 0.7;
}
.bl-icon-count-inner {
  display: inline-block;
  position: relative;
  height: 2em;
  width: 2em;
  border: 1px red solid;
  border-radius: 1em;
  background: red;
  color: white;
  font-size: small;
}
.bl-icon-count-inner div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:not(.bl-icon-selected) > mat-icon-box,
:not(.bl-icon-selected) .bl-icon-count {
  opacity: 0.5;
}

.bl-icon-selected > mat-icon-box,
.bl-icon-selected .bl-icon-count {
  opacity: 1;
}
