div.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
}

div.buttons button,
div.buttons input {
  flex-grow: 1;
  margin: 0 0.1em;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

md-input-container.textarea {
  width: 95%;
}
