.list {
  padding-bottom: 4em;
  counter-reset: count;
}

.item::before {
  counter-increment: count;
  content: counter(count)".";
}

.item hr {
  margin: 0.2em 0;
}

.item a {
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.item:focus, .item:hover {
  background: #eee;
}
.item a:active {
  top: 1px;
  background: #ddd;
}

