.list {
  height: 100%;
  /* overflow: auto; */
  /* background-color: #eee; */

  /* padding-bottom: 4em; */
  counter-reset: count;
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  .list {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .list {
    margin-left: 95px;
    margin-right: 80px;
  }
}
@media (min-width: 992px) {
  .list {
    margin-left: 145px;
    margin-right: 130px;
  }
}

.item {
  display: block;
  padding: 0.2em;
  position: relative;
}
.item::before {
  counter-increment: count;
  content: counter(count)".";
}

.item a {
  cursor: pointer;
  text-decoration: none;
}

.item:focus, .item:hover {
  background: #eee;
}
.item a:active {
  top: 1px;
  background: #ddd;
}

.item-image {
  position: absolute;
  opacity: 0.6;
  top: 0;
  right: 0;
}

.image-span .image {
  width: 100%;
}

.fab {
  z-index:101;
  width: 2em;
  height: 2em;
  position: fixed;
  right: 0.2em;
  bottom: 1.5em;
  border-radius: 50%;
  background-color: rgb(244, 67, 54);
  color: white;
  font-size: 18pt;
  outline: none;
  border: 0;
  padding: 0; /* suspect bootstrap padding */
  box-shadow: 6px 6px 12px rgba(0,0,0,.475);
  opacity: 0;
  visibility: hidden;
  transition: visibility 1.0s linear, opacity 1.0s linear;
}

@media not all and (pointer: coarse) {
  .fab { /* for desktop, add transform transition property */
    transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), visibility 1.0s linear, opacity 1.0s linear;
  }
}

.fab:hover {
  transform:scale(1.1);
  background-color: #E53935;
}
.fab:active {
  background-color: #B71C1C;
}
.fab.show {
  opacity: 1;
  visibility: visible;
}
