<!--  

-->
<div [@listChild]="noteService.countNotes" class="list" touchStart>
  <div *ngFor="let note of (noteService.notes | async); let i = index" [@enlarge]="hoverArray[i]" class="item" [attr.tabindex]="i">
    {{note.name}}, {{note.updatedAt | date : 'dd/MM/yyyy'}} {{note.updatedAt | date : 'shortTime' | lowercase}}
    <span style="position:relative" dropdown>
      <span dropdownToggle style="cursor:pointer" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      <ul *dropdownMenu class="dropdown-menu">
        <li role="menuitem"><a class="dropdown-item" (click)="remove(note)">remove</a></li>
      </ul>
    </span>
    <br/>
    <a (click)="edit(note, i, $event)">
      <markdown [data]="note.text"></markdown>
    </a>
    <span class="item-image" *ngIf="note.thumbURL">
      <markdown>![alt]({{note.thumbURL}} "thumb title")</markdown>
    </span>
    <hr>
  </div>
</div>
<button class="fab" (click)="add()">+</button>