<div class="list"
  [@listChild]="noteService.listState"
  (@listChild.start)="animStart($event)" 
  (@listChild.done)="animDone($event)" 
  touchStart>
  <my-note class="item"
    [note]="note" (toAddOrEdit)="addOrEdit($event)" (toRemove)="remove($event)" 
    *ngFor="let note of noteService.items$ | async; let i = index; trackBy: trackByFn"
    [ngClass]="{ 'modified' : note.$type === 'modified' && noteService.listState === 'modified' }"
    [attr.tabindex]="i">
  </my-note>
</div>

<note-modal #modal></note-modal>

<button class="fab" (idleClick)="add($event)" [ngClass]="{'show': noteService.showIcon}" aria-label="Add">+</button>
